<% layout('layouts/boilerplate') %>
<h1 class="mt-5" style="text-align: center;">Edit: <%= experience.title %> </h1>
  <form action="/experiences/<%= experience._id %>?_method=PUT" method="POST" class="mt-5 validated-form" style="width: 70%; margin-left: 15%;" novalidate >
    
    <div class="form-floating mb-3">
      <input  class="form-control"  type="text" id="name" name="experience[name]" value="<%=experience.name%>" required>
      <label for="name" id="name"> Edit Title </label>
    </div>

    <div class="form-floating mb-5">
      <input type="text" class="form-control" id="description" name="experience[description]" value="<%=experience.description%>" required>
    </div>

    <div class="form-floating mb-5">
      <input type="text" class="form-control" id="image" placeholder="Image URL" name="experience[image]" value="<%=experience.image%>">
      <label for="image" id="image"> Edit Image 1</label>
    </div>


    <button class="btn btn-light" type="submit">Update Experience</button>
    <a href="/experiences%>" class="btn btn-light">All Experiences</a>

  </form>
  
