<% layout('layouts/boilerplate') %>
<h1 class="mt-5" style="text-align: center;">Edit: <%= destination.title %> </h1>
  <form action="/destinations/<%= destination._id %>?_method=PUT" method="POST" class="mt-5 validated-form" style="width: 70%; margin-left: 15%;" novalidate >
    
    <div class="form-floating mb-3">
      <input  class="form-control"  type="text" id="title" name="destination[title]" value="<%=destination.title%>" required>
      <label for="title" id="title"> Edit Title </label>
    </div>

    <div class="form-floating mb-5">
      <input type="text" class="form-control" id="city" name="destination[city]" value="<%=destination.city%>" required>
    </div>

    <div class="form-floating mb-5">
      <input type="text" class="form-control" id="images" placeholder="Image URL" name="destination[images]" value="<%=destination.images%>">
      <label for="images" id="images"> Edit Image 1</label>
    </div>


    <button class="btn btn-light" type="submit">Update Destination</button>
    <a href="/destinations%>" class="btn btn-light">All Destinations</a>

  </form>
  
