<% layout('layouts/boilerplate') %>
<div class="row showIntro">
<h1 style="text-transform: uppercase; letter-spacing: 3px; text-align: center; padding-bottom: 3%;"> <%= destination.title %> </> </h1>
<div class="imagesAndText" style="min-height: 70vh;" >
  <div class=""  >
       <img src="<%= destination.images %>" alt="" style="height: 50vh;" class="img-fluid" >
  </div>
  <div class="destContent">
    <h2 style="text-transform: capitalize; letter-spacing: 1px;"> <%= destination.city %> Pre-Made Experiences</> </h2>
<ul style="list-style: none;">
<% for (let experience of destination.experiences) { %>
 <h4> <a href='/experiences/<%=experience.id%>' style="text-decoration: none;"> <%= experience.name %></a> </h4> 
<% } %>
</ul>
    
  </div>
</div>
</div>
<div class="row notes d-flex flex-column align-items-center">
  <h1 style="text-transform: uppercase; letter-spacing: 3px;">Notes</h1>
  <div class="addNotes">
    <form action="/destinations/<%= destination._id %>/notes" method="POST">
      <div class="input-group mb-3 mt-3">
        <input type="text" class="form-control" placeholder="Note" id="notes" name="destination[notes]">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Add Note</button>
      </div>
    </form>
    <div class="showNotes">
      <% for (note of destination.notes ) { %>
        <div class="card mb-3" >
          <div class="row g-0">
            <div class="col-md-9">
              <div class="card-body" style="margin: 0; padding: 0; text-align: left; padding: 2%">
                <p style="margin: 0; padding: 0; font-size: 150%;"><%= note.body %></p>
                <p style="margin: 0; padding: 0;"><small class="text-muted">DateTime posted - eventual</small></p>
                <p style="margin: 0; padding: 0;" ><small class="text-muted">User who posted note - eventual</small></p>
              </div>

            </div>
            <div class="col-md-3 d-flex justify-content-end align-items-center" style="padding-right:1%;">
              <form action="/destinations/<%= destination._id %>/note/<%= note._id %>?_method=DELETE" method="POST">
                <button class="btn btn-link btn-sm">DELETE</button>
              </form>
            </div>
          </div>
        </div>



     <% } %>
    </div>
  </div>
</div>
<div class="buttonHolder">
  <p><a href="/destinations/<%=destination._id%>/edit" class="btn btn-light btn-md">EDIT DESTINATION</a></p>
  <form action="/destinations/<%=destination._id%>?_method=DELETE" method="POST">
    <button class="btn btn-danger btn-md">DELETE DESTINTION</button>
  </form>
</div>
